@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <div class="float-right">
            <img src="~/images/logo.jpg" asp-append-version="true">
        </div>
        <h1>Брачное Агенство</h1>
        <p>
            <br />
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Добро пожаловать</h2>
            <p>
                Мы помогаем Вам быть лучше
            </p>
        </div>
    </div>
